@font-face {
    font-family: 'Amsterdam';
    src: url('../resources/fonts/AmsterdamOne-eZ12l.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../resources/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f5f5;
    background-color: #F8F3EC;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.stat-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.stat-number {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.stat-label {
    margin-top: 5px;
    font-size: 14px;
    color: #777;
}

.bottom-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.circle {
    background: #ffa07a;
    color: white;
    font-weight: bold;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.match-table table {
    width: 100%;
    border-collapse: collapse;
}

.match-table caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.match-table th, .match-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.form-row div {
    flex: 1;
    min-width: 100px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #45a049;
}
